[Unit]
Description=Service to Access PLC
After=redis.service

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/dev/SD_Controller/PLC_Service/
ExecStart=/usr/bin/python3 /home/pi/dev/SD_Controller/PLC_Service/main.py

[Install]
WantedBy=multi-user.target