[Unit]
Description=Service to Connect to Server
After=redis.service

[Service]
Type=simple

#Have the service restart on anything other than a successful termination
Restart=on-failure  

#Restart the service every second if unsuccessful termination
RestartSec=1
User=pi
WorkingDirectory=/home/pi/dev/SD_Controller/SignalR_Service
ExecStart=/home/pi/.nvm/versions/node/v19.0.0/bin/node /home/pi/dev/SD_Controller/SignalR_Service/app.js

#Make sure outputs are sent to the journal
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target